@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}

:root {
    --bgticket: rgb(252, 242, 200);
    --bgbutton: rgb(165, 101, 42);
    --grayfont: #333333;
    --lightpink: #FCF8F3;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.logo p{
    font-size: 1.8em;
    font-weight: 700;
}

.header ul {
    display: flex;
    flex-direction: row;
}

.links ul li {
    padding: 0 30px;
}

.icons {
    margin-right: 50px;
}

.icons ul li {
    padding: 0 20px;
}

.icons img{
    height: 22px;
    width: 22px;
}

.links ul li a {
    color: black;   
}

.ticket{
    width: 30%;
    padding: 30px;
    background-color: var(--bgticket);
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 200px;
}

.ticket h1{
    color: var(--bgbutton);
}

.ticket p{
    color: var(--grayfont);
    font-family: Poppins;
    font-weight: 500;
    margin-top: 15px;
    font-size: 0.8rem;
}

button.buy {
    margin-top: 25px;
    padding: 20px 50px;
    border: 1px solid transparent;
    background-color: var(--bgbutton);
    color: var(--bgticket);
    transition: all 0.2s;
}

button.buy:hover {
    background-color: transparent;
    border: 1px solid var(--bgbutton);
    color: var(--bgbutton);
}

.banner img {
    width: 100%;
    height: 650px;
}

.range {
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.range .gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.range .gallery>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.range .gallery img {
    height: 480px;
    width: 300px;
    margin-bottom: 20px;
}

.range h1 {
    color: var(--grayfont);
}

.products {
    display: flex;
    flex-direction: column;
    margin: 20px 80px;
    align-items: center;
}

.product-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.product-gallery .product {
    width: 20%;
    background-color: rgb(231, 231, 231);
    margin: 5px 10px;
}

.product-gallery img {
    width: 100%;
    height: auto;
}

.product h2 {
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 5px 20px;
}

.product p {
    font-size: 0.8rem;
    padding: 0 20px;
}

.product {
    transition: all 0.2s ease-in-out;
}

.product:hover {
    background-color: rgb(151, 151, 151);
    transform: translateY(5px);
    filter: grayscale(70%);
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.footer .right-hand{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.footer-line{
    display: flex;
    margin: 10px auto;
    height: 1px;
    background-color: lightgray;
    justify-content: space-around;
}

.footer-quality {
    display: flex;
    justify-content: space-around;
    padding: 70px 40px;
    margin: 40px 0;
    background-color: var(--lightpink);
}

.footer-element {
    display: flex;
    flex-direction: row;
}

.footer-element img{
    height: 50px;
    width: 50px;
    margin: 0 15px;
}

.shophead {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 85px;
    background-image: url('./assets/shopbg.png');
}

.filter-line{
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgticket);

}

.left-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bgticket);
}

.left-elements img {
    padding: 15px;
}

.page-numbers{
    display: flex;
    justify-content: center;
}   

.page-numbers button{
    padding: 15px 20px;
    margin: 0 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--bgticket);
}

.page-numbers button:hover{
    border: 1px solid var(--bgbutton);
}

.page-numbers button:active{
    background-color: var(--bgbutton);
    color: var(--bgticket);
}

.right-elements input {
    padding: 8px;
    margin: 0 5px;
    border: 1px solid white;
    border-radius: 5px;
    width: fit-content;
}

.ad {
    padding: 50px 100px;
    background-color: var(--lightpink);
    display: flex;
}

.ad-content {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 80px;
}

.ad-content h2 {
    font-size: 2.2rem;
    padding: 10px;
}

.slide {
    display: flex;
}

.slide .content img {
    height: 450px;
}

.slide img {
    max-width: 300px;
    border-radius: 20px;
    margin-right: 20px;
}

.images {
    display: flex;
    width: 40%;
    height: 380px;
}

.image-slider {
    display: inline-block;
    overflow: hidden;
}

.nav-panel {
    display: flex;
    position: absolute;
    top: 450%;
}

button.thenext{
    height: 48px;
    width: 48px;
    position: relative;
    top: 82px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--bgbutton);
    border: none;
    transition: all 0.2s;
}

button.thenext:hover{
    transform: translateX(8px);
}

button.thenext:active{
    background-color: var(--lightpink);
    color: var(--bgbutton);
}

.desc {
    height: 130px;
    width: 217px;
    padding: 35px 20px;
    background-color: #fff;
}

@media only screen and (max-width: 1000px) {
    .header {
        flex-direction: column;
    }

    .header div {
        padding: 10px 0;
    }
}

@media only screen and (max-width: 650px){
    .links ul {
        flex-direction: column;
    }

    .links ul li {
        padding: 10px 0;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contact-info>p {
    color: var(--grayfont);
    width: 70%;
    margin: auto;
    font-size: 0.8rem;
}

.contact-info {
    width: 70%;
    margin: 80px auto;
}

.contact-form {
    display: flex;
    padding: 50px;
}

.contact-item {
    display: flex;
    align-items: start;
    width: 60%;
}

.contact-item>* {
    padding: 10px;
}

.contact-item p {
    font-size: 0.8rem;
}

.contact-detail {
    text-align: left;
}

.contact-right div{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: black;
    font-size: 0.8rem;
}

.contact-right input {
    width: 530px;
    padding: 20px;
    margin: 15px 0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: 1px solid var(--grayfont);
}