@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --bgticket: rgb(252, 242, 200);
  --bgbutton: rgb(165, 101, 42);
  --grayfont: #333333;
  --lightpink: #fcf8f3;
  --lightfont: #9f9f9f;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.logo p {
  font-size: 1.8em;
  font-weight: 700;
}

.header ul {
  display: flex;
  flex-direction: row;
}

.links ul li {
  padding: 0 30px;
}

.icons {
  margin-right: 50px;
}

.icons ul li {
  padding: 0 20px;
}

.icons img {
  height: 22px;
  width: 22px;
}

.links ul li a {
  color: black;
}

.ticket {
  width: 30%;
  padding: 30px;
  background-color: var(--bgticket);
  position: absolute;
  z-index: 1;
  right: 10%;
  top: 200px;
}

.ticket h1 {
  color: var(--bgbutton);
}

.ticket p {
  color: var(--grayfont);
  font-family: Poppins;
  font-weight: 500;
  margin-top: 15px;
  font-size: 0.8rem;
}

button.buy {
  margin-top: 25px;
  padding: 20px 50px;
  border: 1px solid transparent;
  background-color: var(--bgbutton);
  color: var(--bgticket);
  transition: all 0.2s;
  text-transform: uppercase;
}

button.buy:hover {
  background-color: transparent;
  border: 1px solid var(--bgbutton);
  color: var(--bgbutton);
}

.banner img {
  width: 100%;
  height: 650px;
}

.range {
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range .gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

.range .gallery > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.range .gallery img {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

.range h1 {
  color: var(--grayfont);
}

.products {
  display: flex;
  flex-direction: column;
  margin: 20px 80px;
  align-items: center;
}

.product-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.product-gallery .product {
  width: 20%;
  background-color: rgb(231, 231, 231);
  margin: 5px 10px;
}

.product-gallery img {
  width: 100%;
  height: auto;
}

.product h2 {
  font-family: Poppins;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 5px 20px;
}

.product p {
  font-size: 0.8rem;
  padding: 0 20px;
}

.product {
  transition: all 0.2s ease-in-out;
}

.product:hover {
  background-color: rgb(151, 151, 151);
  transform: translateY(5px);
  filter: grayscale(70%);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.footer .right-hand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.footer-line {
  display: flex;
  margin: 10px auto;
  height: 1px;
  background-color: lightgray;
  justify-content: space-around;
}

.footer-quality {
  display: flex;
  justify-content: space-around;
  padding: 70px 40px;
  margin: 40px 0;
  background-color: var(--lightpink);
}

.footer-element {
  display: flex;
  flex-direction: row;
}

.footer-element img {
  height: 50px;
  width: 50px;
  margin: 0 15px;
}

.shophead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 85px;
  background-image: url("./assets/shopbg.png");
}

.filter-line {
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgticket);
}

.left-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--bgticket);
}

.left-elements img {
  padding: 15px;
}

.page-numbers {
  display: flex;
  justify-content: center;
}

.page-numbers button {
  padding: 15px 20px;
  margin: 0 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: var(--bgticket);
}

.page-numbers button:hover {
  border: 1px solid var(--bgbutton);
}

.page-numbers button:active {
  background-color: var(--bgbutton);
  color: var(--bgticket);
}

.right-elements input {
  padding: 8px;
  margin: 0 5px;
  border: 1px solid white;
  border-radius: 5px;
  width: fit-content;
}

.ad {
  padding: 50px 100px;
  background-color: var(--lightpink);
  display: flex;
}

.ad-content {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 80px;
}

.ad-content h2 {
  font-size: 2.2rem;
  padding: 10px;
}

@media only screen and (max-width: 1000px) {
  .header {
    flex-direction: column;
  }

  .header div {
    padding: 10px 0;
  }

  .ticket {
    position: relative;
    top: 0;
    width: 100%;
    right: 0;
  }

  .banner img {
    display: none;
  }

  .gallery img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .product-gallery {
    flex-wrap: wrap;
  }

  .product-gallery .product {
    flex: 1 0 25%;
  }

  .image-slider {
    flex-direction: column;
  }

  .image-slider .swiper-description {
    width: 80%;
  }

  .contact-form {
    flex-direction: column;
    position: relative;
  }

  .contact-left {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-form {
    margin-bottom: 310px;
  }

  .contact-right input {
    width: 100%;
  }

  .footer-quality {
    flex-wrap: wrap;
  }

  .footer-quality > * {
    flex: 1 0 20%;
    padding: 15px 0;
  }

  .contact-right div {
    width: 80%;
  }
}

@media only screen and (max-width: 650px) {
  .links ul {
    flex-direction: column;
  }

  .links ul li {
    padding: 10px 0;
  }

  p {
    font-size: 3vw;
  }

  .range .gallery {
    flex-direction: column;
  }

  .product-gallery {
    flex-direction: column;
  }

  .product-gallery .product {
    width: 100%;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact-info > p {
  color: var(--grayfont);
  width: 70%;
  margin: auto;
  font-size: 0.8rem;
}

.contact-info {
  width: 70%;
  margin: 80px auto;
}

.contact-form {
  display: flex;
  padding: 50px;
}

.contact-item {
  display: flex;
  align-items: start;
  width: 60%;
}

.contact-item > * {
  padding: 10px;
}

.contact-item p {
  font-size: 0.8rem;
}

.contact-detail {
  text-align: left;
}

.contact-right div {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: black;
  font-size: 0.8rem;
}

.contact-right input,
textarea {
  width: 530px;
  padding: 20px;
  margin: 15px 0;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border: 1px solid var(--grayfont);
  resize: vertical;
}

.contact-right:last-child {
  height: 80px;
}

.billing-form {
  display: flex;
  margin: 100px;
  justify-content: center;
}

.billing-form > * {
  margin: 50px;
}

.billing-details {
  display: flex;
  flex-direction: column;
}

.billing-details input,
select {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}

.billing-form-down form {
  display: flex;
  flex-direction: column;
  max-width: 460px;
}

.name-surname {
  display: flex;
  margin-top: 25px;
}

.name,
.surname {
  display: flex;
  flex-direction: column;
}

.name {
  margin-right: 15px;
}

ul.bank-transfer li {
  list-style: disc;
  padding: 10px;
}

ul.transfer-types li {
  list-style: circle;
  padding: 10px;
}

label {
  font-weight: 500;
  font-size: 0.8rem;
}

.product-detail-line {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.product-order {
  max-width: 605px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lighttext {
  color: var(--lightfont);
}

button.order {
  padding: 20px;
  width: 320px;
  margin: 40px auto;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}

button.order:hover {
  background-color: #000;
  color: #fff;
}

.large-brown-text {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--bgbutton);
}

.comparison {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 200px;
}

.comparison > * {
  flex: 1 1 0;
}

.title a {
  text-decoration: underline;
}

.comparison img {
  height: 184px;
  width: 280px;
}

.comparison h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

.comparison > div > * {
  padding: 25px 0;
}

.comparison-parameters {
  margin-top: 160px;
}

.comparison-parameters > div {
  padding: 18px 0;
}

.rating {
  color: var(--bgbutton);
}

.counter-button {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 0 7px;
}

.counter-button button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.count {
  margin: 0 40px;
}

.product-purchase {
  padding: 100px;
}

.product-info {
  display: flex;
  justify-content: center;
}

.product-pics {
  display: flex;
  margin: 50px;
}

.product-purchase-buttons {
  display: flex;
  margin-top: 30px;
}

.product-purchase-certificate {
  display: flex;
  padding: 15px;
  color: var(--lightfont);
}

.product-purchase-certificate > div {
  padding: 0px 20px;
}

.certificate-value4 img {
  padding-right: 7px;
}

.product-purchase-size {
  margin: 15px 0;
}

span.sizes button {
  width: 50px;
  padding: 10px 0;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid transparent;
}

span.sizes button:hover {
  border: 1px solid var(--bgbutton);
  border-radius: 3px;
}

span.sizes button:active {
  background-color: var(--bgbutton);
}

span.colors {
  display: flex;
}

span.colors button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 5px;
  border: 3px solid transparent;
}

span.colors > div {
  border: 2px solid transparent;
  border-radius: 50%;
  margin: 15px;
}

span.colors > div:hover {
  border: 2px solid var(--lightfont);
}

span.colors > div:active {
  border: 2px solid black;
}

.color-purple {
  background-color: rgba(129, 109, 250, 1);
}

.color-black {
  background-color: #000;
}

.color-brown {
  background-color: var(--bgbutton);
}

.product-ad {
  padding: 150px;
}

.ad-titles {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.ad-titles > a {
  font-size: 1.5rem;
  color: var(--lightfont);
}

.ad-titles > a:active {
  color: black;
}

.ad-text > p {
  padding: 20px 0;
}

.related-products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-self {
  display: flex;
  padding: 80px;
  justify-content: space-around;
}

.cart-product > div {
  display: flex;
  padding: 25px;
}

.cart-titles {
  margin-left: 105px;
  display: flex;
  justify-content: space-around;
}

.swiper {
  width: 600px;
  height: 400px;
}

.swiper-slide > img {
  height: 400px;
}

.image-slider {
  display: flex;
  margin: 80px 0;
  background-color: var(--lightpink);
}

.swiper-description {
  padding: 100px;
  vertical-align: middle;
  width: 40%;
}

.swiper-description > * {
  padding: 10px 0;
}
